/* Container styles */
.large-container {
   width: 100%;
   max-width: 1334px;
   margin: 0 auto;
   padding: 0 20px;
}

.hero-container {
   width: 100%;
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 20px;
}

.services-container {
   width: 100%;
   max-width: 1085px;
   margin: 0 auto;
   padding: 0 20px;
}

.news-container {
   width: 100%;
   max-width: 1210px;
   margin: 0 auto;
   padding: 0 20px;
}