.hero {
   padding: 108px 0;
   background-image: url("../../images/hero-bg-mobile.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: bottom;
}

.hero-texts-wrapper {
   max-width: 527px;
}

.hero-desc {
   margin-bottom: 31px;
   line-height: 155.2%;
   color: #e87d0e;
}

.hero-heading {
   font-size: 34px;
   line-height: 155.2%;
   margin-top: 0;
   margin-bottom: 26px;
   color: #000000;
}

.hero-text {
   font-weight: 500;
   font-size: 14px;
   line-height: 200%;
   margin-bottom: 35px;
   color: #000000;
}

.hero-link {
   font-weight: 500;
   font-size: 15px;
   line-height: 22px;
   padding: 13px 18px 12px 22px;
   color: #ffffff;
   background-image: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
   border-radius: 40px;

   &:hover {
      color: #ffffff;
   }
}

@include mobile-first (720px) {
   .hero {
      padding: 102px 0 106px;
      background-image: url("../../images/hero-bg.svg");
      background-size: cover;
   }

   .hero-heading {
      font-size: 50px;
   }

   .hero-text {
      font-style: 16px;
      margin-bottom: 50px;
   }

   .hero-end-img {
      width: 675px;
      height: 460px;
      background-image: url("../../images/hero-img.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
   }
}