/* Project section styles */

.projects {
   padding-top: 60px;
}

.projects-text-wrapper {
   width: 100%;
   max-width: 497px;
}

.projects-heading {
   font-size: 20px;
   line-height: 187.5%;
   margin-bottom: 23px;
   color: var(--main-heading-color);
}

.projects-desc {
   font-size: 12px;
   line-height: 187.5%;
   color: var(--main-text-color);
}

.projects-images {
   width: 307px;
}

@include mobile-first (768px) {
   .projects {
      padding-top: 141px;
   }

   .projects-text-wrapper {
      margin-bottom: 71px !important;
   }

   .projects-heading {
      font-size: 25px;
      margin-bottom: 18px;
   }

   .projects-desc {
      font-size: 14px;
   }

   .projects-images {
      height: 200px;
   }
}

@include mobile-first (992px) {
   .projects-images {
      width: auto;
      height: 223px;
   }

   .img-three {
      width: 100%;
   }

   .img-four {
      width: 100%;
   }
}